/* CreateNewWorkout styling */
    /* .create-workout{
        background-image: url(https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?cs=srgb&dl=barbell-building-challenge-1552252.jpg&fm=jpg);
        display: grid;
        position: static;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    } */



