/* SHOWALLCATEGORIES COMPONENT */
html {
    background-color: black;
}
.category-title > p {
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 11px;
}

.category-title {
  min-width: 32vw;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  opacity: 0.8;
  transition: all 0.5s;
}

.category-title:hover {
  opacity: 1;
}

.categories {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

/* ONECATEGORY COMPONENT */
h1 {
    text-align: left; 
    background-color: black;
    color: white;
    margin: 0 auto;
    font-size: 90px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    padding-left: 25%;
    cursor: pointer;
}

.one-category {
    /* border: 2px solid #0eaeef; */
    width: 57%;
    color: white;
    margin-top: -15px;
    margin-left: 2%;
    font-family: 'PT Sans', sans-serif;
}

.workout-container {
    /* border:1px solid red; */
    width: 100%;
    color: white;
}

.personal-workout-regimen {
    position: fixed;
    right: 0;
    top: 2%;
    width: 30%;
    margin-right: 2%;
   height: 100%;
    border: 2px solid white;
    overflow: auto;
    background-color: #0eaeef;
box-shadow: 5px 8px 5px white;
}

.workout-name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 45px;
}

.pwr-workouts {
    color: white;
}

.pwr-workout {
    color: white;
}

.link {
    text-decoration-style: none;
    color: #0eaeef;
    transition: all .5s;
}

.link:hover {
    color: orangered;
}

h1 > span {
    font-size: 20px;
    display: inline-block;
    width: 12%;
    line-height: 22px;
    letter-spacing: 1px;
    padding-left: 10px;
}

i.fa-plus {
    text-align: right;
    width: 100%;
    font-size: 1.5em;
}

i.fa-ban {
    text-align: right;
    width: 100%;
    color: red;
    font-size: 1.5em;
}