.category-title > p {
  /* border: 1px solid black; */
  text-align: center;
  display: flex;
  font-size: 70px;
  color: white;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 11px;
  /* font-weight: bold; */
}

.category-title {
  min-width: 32vw;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  opacity: 0.89;
  transition: all 0.5s;
}

.category-title:hover {
  opacity: 1;
  color: black;
}

.categories {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
